{% extends 'base.html' %}
{% block title %}
    <title>Home</title>
{% endblock title %}

{% block content %}
   <!-- Page header with logo and tagline-->
   <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Blog Home!</h1>
        </div>
    </div>
</header>
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                {% for posts in page_obj %}
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            <a href="#!"><img class="card-img-top" height="200px" src="{{posts.image.url}}" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">{{posts.published}}</div>
                                <h2 class="card-title h4">{{posts.title}}</h2>
                                <p class="card-text">{{posts.body | truncatewords:10}}</p>
                                <a class="btn btn-primary" href="{{posts.get_absolute_url}}">Read more →</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>  
            <!-- Pagination-->
            <div class="pagination">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn">« Previous page</a>

                    {% if page_obj.number > 3 %}
                        <a href="?page=1" class="btn">1</a>
                        {% if page_obj.number > 4 %}
                        <span>...</span>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a href="?page={{ num }}" class="btn">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a href="?page={{ num }}" class="btn">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                    <span>...</span>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn">{{ page_obj.paginator.num_pages }}</a>
                {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}

                <a href="?page={{ page_obj.next_page_number }}" class="btn">Next Page »</a>
                {% endif %}
            </div>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <ul class="list-unstyled mb-0">
                                {% for cat in category %}
                                    <li><a href="#!">{{cat}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}