{% extends 'base.html' %}

{% block title %}
    <title>Blog Detail</title>
{% endblock title %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{post.published}} by {{post.author}}</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{post.category}}</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{post.image.url}}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{post.body}}</p>
                   
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4" method="POST">
                            {% csrf_token %}
                            {{form.as_table}}
                            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                        </form>
                        
                        <!-- Single comment-->
                        {% for comment in comments %}
                            <div class="d-flex mb-3">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">{{comment.user}}</div>
                                    {{comment.comment}}
                                </div>
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Related blog</div>
                {% for posts in posts %}
                    <div class="card m-3">
                        <a href="#!"><img class="card-img-top" height="200px" src="{{posts.image.url}}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{posts.published}}</div>
                            <h2 class="card-title h4">{{posts.title}}</h2>
                            <p class="card-text">{{posts.body | truncatewords:10}}</p>
                            <a class="btn btn-primary" href="{% url 'blog:post_detail' posts.id posts.slug posts.category.id %}">Read more →</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}